{{define "Edit"}}
<!DOCTYPE html>
<html lang="en">

    {{template "_head"}}

    <body>
        {{template "_nav"}}

        <div style="margin-top: 20px;">
            <div class="container">
                <h1 class="display-6">Editando Produto</h1>
                <p class="lead">Insira os dados para atualizar os valores</p>

                <form method="POST" action="insert">
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label for="nome">Nome:</label>
                                <input 
                                    type="text" 
                                    name="nome" 
                                    class="form-control"
                                    value="{{.Nome}}">
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label for="descricao">Descrição:</label>
                                <input 
                                    type="text" 
                                    name="descricao" 
                                    class="form-control"
                                    value="{{.Descricao}}">
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="preco">Preço:</label>
                                <input 
                                    type="number" 
                                    name="preco" 
                                    class="form-control" 
                                    step="0.01"
                                    value="{{.Preco}}">
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="quantidade">Quantidade:</label>
                                <input 
                                    type="number" 
                                    name="quantidade" 
                                    class="form-control"
                                    value="{{.Quantidade}}">
                            </div>
                        </div>
                    </div>
                    <div style="margin-top: 10px;">
                        <button type="submit" value="salvar" class="btn btn-success">Atualizar</button>
                        <a class="btn btn-info" href="/">Voltar</a>
                    </div>
                </form>
            </div>
        </div>    
    </body>
</html>
{{end}}